.role-marker-red {
    margin: 0.25rem 0.1em;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    color: #fff;
    font-size: 60%;
    background: #ef476f;
    display: inline-block;
    border-radius: 0.25rem;
}

.role-marker-green {
    margin: 0.25rem 0.1em;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    color: #fff;
    font-size: 60%;
    background: #06d6a0;
    display: inline-block;
    border-radius: 0.25rem;
}

.role-marker-orange {
    margin: 0.25rem 0.1em;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    color: #fff;
    font-size: 60%;
    background: #FFC43D;
    display: inline-block;
    border-radius: 0.25rem;
}

.role-marker-blue {
    margin: 0.25rem 0.1em;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    color: #fff;
    font-size: 60%;
    background: #1B9AAA;
    display: inline-block;
    border-radius: 0.25rem;
}

.role-marker-purple {
    margin: 0.25rem 0.1em;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    color: #fff;
    font-size: 60%;
    background: #b5179e;
    display: inline-block;
    border-radius: 0.25rem;
}

.role-marker-gray {
    margin: 0.25rem 0.1em;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    color: #fff;
    font-size: 60%;
    background: #a5a58d;
    display: inline-block;
    border-radius: 0.25rem;
}

#mapid {
    height: 350px;
    position: relative;
    margin-top: 10px;
}