<!--Main Content::Start-->
<main class="flex-shrink-0">
  <div class="container px-4 py-5" id="hanging-icons">
    <!--FirstRow-->
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <!--iconPlaceholder -->
        </div>
        <div>
          <h2>Стоп-лист</h2>
          <p>Показывает блюда, находящиеся в данный момент "на стопе" в разрезе отдельных кухонь. Открытая в браузере вкладка обновлется ежеминутно.</p>
          <a href="#" class="btn btn-primary">
            Открыть
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <!--iconPlaceholder -->
        </div>
        <div>
          <h2>Тепловая карта</h2>
          <p>Показывает адреса заказов за период на карте относительно полигонов покрытия отдельных кухонь.</p>
          <a href="#" class="btn btn-primary">
            Открыть
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <!--iconPlaceholder -->
        </div>
        <div>
          <h2>iikoDashboard</h2>
          <p>Некоторые показатели и forecast выполнения плана продаж. Обновляется ежедневно </p>
          <a href="https://datastudio.google.com/u/0/reporting/3ffe8586-7425-4983-bb87-c8c87ea86ac1/page/oYSHC/edit?s=t4iAi4e4fJU" class="btn btn-primary" target="_blank">
            Открыть
          </a>
        </div>

      </div>
    </div>

    <!--SecondRow-->

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <!--iconPlaceholder -->
        </div>
        <div>
          <h2>Хронометраж</h2>
          <p>Расчет планирования рабочих смен поваров относительно загруженности за период.</p>
          <a href="https://datastudio.google.com/u/0/reporting/3ffe8586-7425-4983-bb87-c8c87ea86ac1/page/oYSHC/edit?s=t4iAi4e4fJU" class="btn btn-primary" target="_blank">
            Открыть
          </a>
        </div>

      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <!--iconPlaceholder -->
        </div>
        <div>
          <h2>Checkbox Status</h2>
          <p>Проверка статуса работы ПРРО "Чекбокс"</p>
          <a href="https://datastudio.google.com/u/0/reporting/3ffe8586-7425-4983-bb87-c8c87ea86ac1/page/oYSHC/edit?s=t4iAi4e4fJU" class="btn btn-primary" target="_blank">
            Открыть
          </a>
        </div>

      </div>
    </div>

    <!--ThirdRow-->

  </div>
  </main>
<!-- Main Content::End-->

