
  <div class="container px-4 py-5" id="hanging-icons">
    <!--FirstRow-->
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" style="padding-bottom: 0px !important;">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <!--iconPlaceholder -->
        </div>
        <div class="border rounded" style="border-color:#e5e5e5!important; padding:1rem; -webkit-box-shadow: 0px 0px 23px 10px #E5E5E5; box-shadow: 0px 0px 23px 10px #E5E5E5;">
          <h2>"Стоп-ліст"</h2>
            <p class="role-marker-red"><ion-icon name="person-outline"></ion-icon>&nbsp;Оператор контакт-центра</p>
            <p class="role-marker-green"><ion-icon name="person-outline"></ion-icon>&nbsp;Операційний директор</p>
          <p>Торгові точки та страви, яки наразі недоступні для продажу на ціх точках.</p>
          <a href="/cgi-bin/stop_list.py" class="btn btn-primary">
            Перейти
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <!--iconPlaceholder -->
        </div>
        <div class="border rounded" style="border-color:#e5e5e5!important; padding:1rem; -webkit-box-shadow: 0px 0px 23px 10px #E5E5E5; box-shadow: 0px 0px 23px 10px #E5E5E5;">
          <h2>Теплова карта</h2>
          <p class="role-marker-orange"><ion-icon name="person-outline"></ion-icon>&nbsp;Розвиток</p>
          <p class="role-marker-green"><ion-icon name="person-outline"></ion-icon>&nbsp;Операційний директор</p>
          <p>Адреси доставки замовлень на карті за вказаний період.</p>
          <a href="/cgi-bin/heat_map.py" class="btn btn-primary">
            Перейти
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <!--iconPlaceholder -->
        </div>
        <div class="border rounded" style="border-color:#e5e5e5!important; padding:1rem; -webkit-box-shadow: 0px 0px 23px 10px #E5E5E5; box-shadow: 0px 0px 23px 10px #E5E5E5;">
          <h2>iikoDashboard</h2>
          <p class="role-marker-orange"><ion-icon name="person-outline"></ion-icon>&nbsp;Розвиток</p>
          <p class="role-marker-green"><ion-icon name="person-outline"></ion-icon>&nbsp;Операційний директор</p>
          <p class="role-marker-blue"><ion-icon name="person-outline"></ion-icon>&nbsp;Маркетинг</p>
          <p class="role-marker-purple"><ion-icon name="person-outline"></ion-icon>&nbsp;Фінанси</p>
          <p>Щоденно оновлювані звіти з продаж.</p>
          <a href="https://datastudio.google.com/u/0/reporting/3ffe8586-7425-4983-bb87-c8c87ea86ac1/page/oYSHC/edit?s=t4iAi4e4fJU" class="btn btn-primary" target="_blank">
            Перейти
          </a>
        </div>

      </div>
    </div>

    <!--SecondRow-->

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" style="padding-bottom: 0px !important;">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <!--iconPlaceholder -->
        </div>
        <div class="border rounded" style="border-color:#e5e5e5!important; padding:1rem; -webkit-box-shadow: 0px 0px 23px 10px #E5E5E5; box-shadow: 0px 0px 23px 10px #E5E5E5;">
          <h2>Хронометраж</h2>
          <p class="role-marker-green"><ion-icon name="person-outline"></ion-icon>&nbsp;Операційний директор</p>
          <p>Розрахунок необхідної кількості кухарів відносно плану продаж.</p>
          <a href="https://datastudio.google.com/u/0/reporting/3ffe8586-7425-4983-bb87-c8c87ea86ac1/page/oYSHC/edit?s=t4iAi4e4fJU" class="btn btn-primary" target="_blank">
            Перейти
          </a>
        </div>

      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <!--iconPlaceholder -->
        </div>
        <div class="border rounded" style="border-color:#e5e5e5!important; padding:1rem; -webkit-box-shadow: 0px 0px 23px 10px #E5E5E5; box-shadow: 0px 0px 23px 10px #E5E5E5;">
          <h2>Checkbox Status</h2>
          <p class="role-marker-gray"><ion-icon name="person-outline"></ion-icon>&nbsp;IT</p>
          <p class="role-marker-red"><ion-icon name="person-outline"></ion-icon>&nbsp;Оператор контакт-центра</p>
          <p>Перевірка статусу коннектора ПРРО "Чекбокс"</p>
          <a href="#" class="btn btn-primary" target="_blank">
            Перейти
          </a>
        </div>

      </div>
    </div>

    <!--ThirdRow-->

  </div>

