
  <div class="container px-4 py-5" id="hanging-icons">
    <!--FirstRow-->
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" style="padding-bottom: 0px !important;">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <!--iconPlaceholder -->
        </div>
        <div class="border rounded" style="border-color:#e5e5e5!important; padding:1rem; -webkit-box-shadow: 0px 0px 23px 10px #E5E5E5; box-shadow: 0px 0px 23px 10px #E5E5E5;">
          <h2>Стоп-лист</h2>
            <p class="role-marker-red"><ion-icon name="person-outline"></ion-icon>&nbsp;Оператор контакт-центра</p>
            <p class="role-marker-green"><ion-icon name="person-outline"></ion-icon>&nbsp;Операційний директор</p>
          <p>Показывает блюда, находящиеся в данный момент "на стопе" в разрезе отдельных кухонь. Открытая в браузере вкладка обновлется ежеминутно.</p>
          <a href="/cgi-bin/stop_list.py" class="btn btn-primary">
            Открыть
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <!--iconPlaceholder -->
        </div>
        <div class="border rounded" style="border-color:#e5e5e5!important; padding:1rem; -webkit-box-shadow: 0px 0px 23px 10px #E5E5E5; box-shadow: 0px 0px 23px 10px #E5E5E5;">
          <h2>Тепловая карта</h2>
          <p class="role-marker-orange"><ion-icon name="person-outline"></ion-icon>&nbsp;Розвиток</p>
          <p class="role-marker-green"><ion-icon name="person-outline"></ion-icon>&nbsp;Операційний директор</p>
          <p>Показывает адреса заказов за период на карте относительно полигонов покрытия отдельных кухонь.</p>
          <a href="#" class="btn btn-primary">
            Открыть
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <!--iconPlaceholder -->
        </div>
        <div class="border rounded" style="border-color:#e5e5e5!important; padding:1rem; -webkit-box-shadow: 0px 0px 23px 10px #E5E5E5; box-shadow: 0px 0px 23px 10px #E5E5E5;">
          <h2>iikoDashboard</h2>
          <p class="role-marker-orange"><ion-icon name="person-outline"></ion-icon>&nbsp;Розвиток</p>
          <p class="role-marker-green"><ion-icon name="person-outline"></ion-icon>&nbsp;Операційний директор</p>
          <p class="role-marker-blue"><ion-icon name="person-outline"></ion-icon>&nbsp;Маркетинг</p>
          <p class="role-marker-purple"><ion-icon name="person-outline"></ion-icon>&nbsp;Фінанси</p>
          <p>Некоторые показатели и forecast выполнения плана продаж. Обновляется ежедневно </p>
          <a href="https://datastudio.google.com/u/0/reporting/3ffe8586-7425-4983-bb87-c8c87ea86ac1/page/oYSHC/edit?s=t4iAi4e4fJU" class="btn btn-primary" target="_blank">
            Открыть
          </a>
        </div>

      </div>
    </div>

    <!--SecondRow-->

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" style="padding-bottom: 0px !important;">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <!--iconPlaceholder -->
        </div>
        <div class="border rounded" style="border-color:#e5e5e5!important; padding:1rem; -webkit-box-shadow: 0px 0px 23px 10px #E5E5E5; box-shadow: 0px 0px 23px 10px #E5E5E5;">
          <h2>Хронометраж</h2>
          <p class="role-marker-green"><ion-icon name="person-outline"></ion-icon>&nbsp;Операційний директор</p>
          <p>Расчет планирования рабочих смен поваров относительно загруженности за период.</p>
          <a href="https://datastudio.google.com/u/0/reporting/3ffe8586-7425-4983-bb87-c8c87ea86ac1/page/oYSHC/edit?s=t4iAi4e4fJU" class="btn btn-primary" target="_blank">
            Открыть
          </a>
        </div>

      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
            <!--iconPlaceholder -->
        </div>
        <div class="border rounded" style="border-color:#e5e5e5!important; padding:1rem; -webkit-box-shadow: 0px 0px 23px 10px #E5E5E5; box-shadow: 0px 0px 23px 10px #E5E5E5;">
          <h2>Checkbox Status</h2>
          <p class="role-marker-gray"><ion-icon name="person-outline"></ion-icon>&nbsp;IT</p>
          <p class="role-marker-red"><ion-icon name="person-outline"></ion-icon>&nbsp;Оператор контакт-центра</p>
          <p>Проверка статуса работы ПРРО "Чекбокс"</p>
          <a href="#" class="btn btn-primary" target="_blank">
            Открыть
          </a>
        </div>

      </div>
    </div>

    <!--ThirdRow-->

  </div>

